<div class="container portfolio font-class">
  <div class="row " *ngIf="basketInfoMessage">
    <div class="col-md-12">
      <div class="heading alert-info" style="background-color: #d1ecf1;">
        {{basketInfoMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <img src="/assets/img/details_logo.jpg"/>
      </div>
    </div>
  </div>
  <div class="bio-info">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="bio-image">
              <img [src]="productService.getProductImage(productDTO)" alt="No photo ¯\_(ツ)_/¯"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bio-content">
          <h3>Hi, my name is&nbsp;{{productDTO.product.name}}</h3>
          <br/>
          <h6>My price is&nbsp;{{productDTO.product.price | number:'.2'}}</h6>
          <h6 style="color: #004085;" *ngIf="productDTO.product.available">Luckily, I'm available &#9786;</h6>
          <h6 style="color: red;" *ngIf="!productDTO.product.available">Unfortunately, I'm available only on order
            &#9785;</h6>
          <br/>
          <h3>A little bit about me:&nbsp;{{productDTO.product.description}}</h3>
        </div>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary add-category-btn" type="submit" (click)="addProductToBasket(productDTO.product)">Buy</button>
      <a href="catalogue">
        <button type="button" class="btn btn-primary add-category-btn">Close</button>
      </a>
    </div>
  </div>
</div>
