<div class="form-inline font-class" style="width: 75%; margin-top: 2%;">
  <label class="product-filter-item">Category:</label>
  <select class="selectpicker product-filter-item" id="categoryFilter"
          [(ngModel)]="selectedCategoryId" name="selectedCategory" (ngModelChange)="filterByCategory()">
    <option [ngValue]="null">-none-</option>
    <option *ngFor="let category of categories" [value]="category.categoryId">
      <span *ngIf="category.parentCategory == null">{{category.name}}</span>
      <span *ngIf="category.parentCategory != null">&nbsp;&nbsp;-{{category.name}}</span>
    </option>
  </select>
</div>
<div class="container scrollable-content font-class">
  <div id="catalogueGrid" class="flex-row row">
    <div class="col-xs-6 col-sm-4 col-lg-3 text-center" *ngFor="let dto of products">
      <div class="thumbnail">
        <div class="caption">
          <div style="height: 75%;">
            <img [src]='productService.getProductImage(dto)'>
          </div>
          <h4>{{dto.product.name}}</h4>
          <span class="flex-text text-muted">{{dto.product.price| number:'.2'}}</span>
          <p class="flex-text text-muted" text="${product.available} ? 'Available' : 'On Order'"></p>
          <p><a [routerLink]="['/product-details', dto.product.productId]" class="btn btn-primary">Details</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
